* {
  box-sizing: border-box;
}

.Chat {
  max-width: 1200px;
  width: 90%;
  margin: 20px auto;
}

.page-header {
  width: 100%;
  display: grid;
  grid-template-columns: 90px 90px 90px calc(100% - 270px);
  border: 5px ridge rgba(0, 0, 0, 0.568);
  padding: 15px 10px;
}

.header-last-message {
  text-align: right;
}

.message-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 18px;
  width: 100%;
  border: 5px ridge rgba(0, 0, 0, 0.178);
  background-color: rgba(218, 210, 210, 0.589);
  height: 80vh;
  overflow:scroll;
  overflow-x:hidden;
}

.message-info {
  position: relative;
}

.main-message {
  margin-bottom: 5px;
  width: 60%;
  border: 2px solid rgba(0, 0, 0, 0.055);
  background-color: rgba(194, 194, 194, 0.356);
  display: grid;
  grid-template-columns: 100px auto;
  border-radius: 20px;
}

.message-author {
  height: 25%;
}

.message-logo > img {
  width: 90px;
  height: 90px;
  border-radius: 50%; 
  border: 3px solid whitesmoke;
}

.message-date {
  margin-top: 12px;
  color: rgba(128, 128, 128, 0.692);
  font-style: italic;
  position: absolute;
  bottom: 0;
}

.message-logo {
  padding: 5px;
  font-size: 0px;
}

.message-author {
  font-size: 23px;
  font-weight: bold;
}

.message-text {
  font-size: 19px;
  display: inline-block;
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 18px;
  border-radius: 20px 5px 5px 0px;
  background-color: rgba(151, 143, 143, 0.486);
}

.message-input-block {
  border: 5px solid rgba(0, 0, 0, 0.178);
  width: 100%;
}

.message-input {
  padding-left: 30px;
  height: 50px;
  width: 80%;
}

.message-submit {
  height: 50px;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.712);
  color: white;
  text-transform: uppercase;
  border: none;
  transition: 0.3s all ease;
  font-weight: bold;
  border: 2px solid rgb(119, 119, 119);
}

.message-submit:hover {
  background-color: rgba(221, 216, 216, 0.767);
  color: black;
  border: 2px solid black;
}

::-webkit-scrollbar { 
  display: none; 
}

.loading-page {
  font-size: 60px;
  height: 100vh;
  color: rgba(134, 134, 134, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-message.main-message {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  padding: 12px 0 0 20px;
}

.my-message.main-message .message-logo {
  display: none;
}

.my-message.main-message .message-author {
  display: none;
}

.my-message.main-message .message-date {
  position: absolute;
  bottom: 0;
  left: 5px;
}

.my-message.main-message .message-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.my-message.main-message .message-text {
  border-radius: 10px;
}



